@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
body{
	background-color: #fef1df;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top:50%;
	left: 50%; 
	transform: translate(-50%,-50%);
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
p{
	background-color: white;
	padding:30px; 
	border-radius:10px;
}
a{
	color: red;
}